.create-supper {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    margin-top: 100px;
    margin-bottom: 60px;
}

.create-text-area::placeholder {
    font-size: 1rem;
    opacity: 1;
    font-weight: 200;
}

.create-text-area:focus {
    outline: none !important;
    border: 1px solid #008489 !important;
}

.create-text-area {
    font-size: 1rem;
    color: #484848 !important;
    padding: 1vh .5vw;
}
p:first-child {
    font-size: 50px;
    margin-bottom: 20px;
}

.create-titles {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.create-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
}

.create-supertitle {
    font-weight: 400;
}

.create-img-container {
    display: flex;
    justify-content: space-between;
}
.img-text-box {
    width: 237px;
    height: 30px;
    padding: 10px;
    /* margin: auto; */
}

.submit-btn {
    display: block;
    font-size: 20px;
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: #494949;
    border: 2px solid #008489;
    border-radius: 10px;
    box-shadow: none;
    position: relative;
    top: 75%;
    transform: translateY(75%)
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #008489;
    color: white;
    
}