
.gallery-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
   
}

.supper-wrapper {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-size: cover;
}

.supper-content {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-property: opacity, background;
    transition-duration: .7s, .7s;
  }


.supper-content:hover {
    background-color: black;
    opacity: 1;
    color: white;
}

.supper-wrapper p {
    color: white;
}