.supper-page-wrapper {
    position: absolute;
    margin-top: 7em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.supper-info {
    max-width: 30%
}

.sup-image-wrapper {
    max-width: 70%;
    height: auto;
    margin-left: 30%;
    position: fixed;
}

.supper-image {
    max-width: 100%;
    height: auto;
    margin-left: 3em;
}
.description, .menu, .availability {
    margin-top: 1em;
}

.supper-date, .supper-time, .describe-supper, .menu-items, .supper-price {
    font-size: 20px !important;
}

.menu-items {
    display: block !important;
}

p {
    font-weight: 200;
}

.rsvp {
    align-content: center;
    padding-bottom: .25em;
    background-color: white;
    font-size: 20px;
    width: 3em;
    border: none;
    border-bottom: 1px solid #008489 !important;
    cursor: pointer;
}

.rsvp:focus {
    outline: none;
}